<!DOCTYPE html>
<html lang="en">

<head>
    <title>Memo Mate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/editarflashcard.css" />
</head>

{{#pregunta}}
<body>
    <header>
        <nav>
            <img src="/images/header.jpeg">
        </nav>
    </header>
    <div class="grid-container  align-content-center align-items-cente">
            <div class="contenedorFormulario text-center">
                <h2>Pregunta: </h2>
                <form class="formulario needs-validation" novalidate>
                    <textarea id="pregunta" name="pregunta" rows="4" cols="50" class="form-control text-center" required>{{pregunta}}</textarea>
                    <div id="mensajePregunta" class="invalid-feedback">El campo de pregunta no puede estar vacío y la pregunta debe comenzar con una letra mayúscula.</div>
                </form>
            </div>
    
            <div class="contenedorFormulario text-center">
                <h2>Respuesta: </h2>
                <form class="formulario needs-validation" novalidate>
                    <textarea id="respuesta" name="respuesta" rows="4" cols="50" class="form-control text-center" required>{{respuesta}}</textarea>
                    <div id="mensajeRespuesta" class="invalid-feedback">El campo de respuesta no puede estar vacío.</div>
                </form>
            </div>
            <div class="contenedorFormulario text-center">
                <h2>Imagen Pregunta: </h2>
                <form class="formulario needs-validation" novalidate>
                    <textarea id="imagenPregunta" name="imagenPregunta" rows="4" cols="50" class="form-control text-center" required>{{imagen_pregunta_url}}</textarea>
                    <div id="mensajeImagenPregunta" class="invalid-feedback">URL de imagen de pregunta no válida.</div>
                </form>
            </div>
            <div class="contenedorFormulario text-center">
                <h2>Imagen respuesta: </h2>
                <form class="formulario needs-validation" novalidate>
                    <textarea id="imagenRespuesta" name="imagenRespuesta" rows="4" cols="50" class="form-control text-center" required>{{imagen_respuesta_url}}</textarea>
                    <div id="mensajeImagenRespuesta" class="invalid-feedback">URL de imagen de respuesta no válida.</div>
                </form>
            </div>
            <div class="contenedorFormulario text-center">
                <h2>Seleccione el tema de esta pregunta: </h2>
                <form class="formulario needs-validation" novalidate>
                    <textarea id="temaRespuesta" name="temaRespuesta" rows="4" cols="50" class="form-control text-center" required>{{tema}}</textarea>
                    <div id="mensajeTemaRespuesta" class="invalid-feedback">El tema de la pregunta no puede estar vacío.</div>
                </form>
            </div>
    
            <div class="text-center">
                <h6>Selecciona la dificultad:</h6>
                <form class="needs-validation" id="formDificultad" novalidate>
                    <input type="radio" id="baja" name="dificultad" value="baja" required>
                    <label class="form-check-label" for="baja">Baja</label>
    
                    <input type="radio" id="media" name="dificultad" value="media" required>
                    <label class="form-check-label" for="media">Media</label>
    
                    <input type="radio" id="alta" name="dificultad" value="alta" required>
                    <label class="form-check-label" for="alta">Alta</label>
                </form>
            </div>
    </div>

    <div class="form-buttons text-center mt-3">
        <a class="btn-save">
            <button type="button" onclick="guardarEditPregunta()">Guardar</button>
        </a>
        <a href="/" class="btn-cancel">
            <button type="submit">Cancelar</button>
        </a>
    </div>

    <script>
        // Supongamos que la dificultad por defecto viene de un parámetro llamado 'dificultadPorDefecto'
        const dificultadPorDefecto = "{{dificultad}}";  // Así es como podrías obtener el valor desde tu backend
        var old_pregunta = document.getElementById('pregunta').value

        // Buscar el radio button correspondiente al valor por defecto y marcarlo
        const radioButtons = document.getElementById('formDificultad').elements.dificultad;
        Array.from(radioButtons).forEach(radioButton => {
            if (radioButton.value === dificultadPorDefecto) {
                radioButton.checked = true;
            }
        });

        verificarCampoEnTiempoReal('pregunta', /^¿[A-Z]|^[A-Z]/, 'mensajePregunta', 'La pregunta debe comenzar con una letra mayúscula.');
        verificarCampoEnTiempoReal('respuesta', /^.{50,450}$/, 'mensajeRespuesta', 'La respuesta debe tener entre 50 y 450 caracteres.');
        verificarCampoEnTiempoReal('imagenPregunta', /^(ftp|http|https):\/\/[^ "]+$/, 'mensajeImagenPregunta', 'URL de imagen de pregunta no válida.');
        verificarCampoEnTiempoReal('imagenRespuesta', /^(ftp|http|https):\/\/[^ "]+$/, 'mensajeImagenRespuesta', 'URL de imagen de respuesta no válida.');

        function verificarPreguntaEnTiempoReal() {
            var preguntaInput = document.getElementById('pregunta');
            var mensajeExistente = document.getElementById('mensajePregunta');

            // Limpiar el mensaje existente al empezar a escribir
            if (mensajeExistente) {
                mensajeExistente.style.display = 'none';
            }

            preguntaInput.addEventListener('input', function () {
                var pregunta = preguntaInput.value;

                // Verificar si la pregunta ya existe en el servidor
                verificarPreguntaExistente(pregunta, function (existe) {
                    if (existe && pregunta !== old_pregunta) {
                        // Mostrar mensaje de pregunta ya existente
                        mostrarMensajeError(mensajeExistente, 'Pregunta ya existe');
                        preguntaInput.classList.add('is-invalid');
                    } else {
                        // ocultarMensajeError(mensajeExistente);
                        preguntaInput.classList.remove('is-invalid');
                    }
                });
            });
        }

        function verificarPreguntaExistente(pregunta, callback) {
            // Realizar una solicitud AJAX al servidor para verificar la existencia de la pregunta
            // Reemplaza la URL con la ruta correcta en tu servidor
            var url = '/verificarPregunta?pregunta=' + encodeURIComponent(pregunta);
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var respuesta = JSON.parse(xhr.responseText);
                        callback(respuesta.existe);
                    }
                }
            };

            xhr.open('GET', url, true);
            xhr.send();
        }

        function verificarCampoEnTiempoReal(campoId, regex, mensajeId, mensajeError) {
            var campo = document.getElementById(campoId);
            var mensaje = document.getElementById(mensajeId);

            campo.addEventListener('input', function () {
                var valor = campo.value.trim();

                if (!regex.test(valor) && valor !== '') {
                    mostrarMensajeError(mensaje, mensajeError);
                    campo.classList.add('is-invalid');
                } else if (valor === ''){
                    ocultarMensajeError(mensaje);
                    mostrarMensajeError(mensaje, 'El campo no puede estar vacío.');
                    campo.classList.add('is-invalid');
                
                } else {
                    ocultarMensajeError(mensaje);
                    campo.classList.remove('is-invalid');
                }
            });
        }

        function mostrarMensajePreguntaExistente() {
            var preguntaInput = document.getElementById('pregunta');
            var mensajeExistente = document.getElementById('mensajeExistente');

            // Crear el mensaje de pregunta ya existente si no existe
            if (!mensajeExistente) {
                mensajeExistente = document.createElement('div');
                mensajeExistente.id = 'mensajeExistente';
                mensajeExistente.className = 'alert alert-danger mt-2';
                mensajeExistente.textContent = 'Pregunta ya existe';
                preguntaInput.parentNode.appendChild(mensajeExistente);
            }


            // Ocultar el mensaje después de unos segundos (opcional)
            setTimeout(function () {
                mensajeExistente.style.display = 'none';
            }, 3000);
        }

        function mostrarMensajeError(elemento, mensaje) {
            if (elemento) {
                elemento.textContent = mensaje;
                elemento.style.display = 'block';
            }
        }

        function ocultarMensajeError(elemento) {
            if (elemento) {
                elemento.style.display = 'none';
            }
        }

        verificarPreguntaEnTiempoReal();

        // function guardarEditPregunta()
        function guardarEditPregunta() {
            var id = id;
            var pregunta = document.getElementById('pregunta').value;
            var respuesta = document.getElementById('respuesta').value;
            var imagenPregunta = document.getElementById('imagenPregunta').value;
            var imagenRespuesta = document.getElementById('imagenRespuesta').value;
            var tema = document.getElementById('temaRespuesta').value; // Obtén el valor del tema según tu lógica
            
            // Obtener el valor de la dificultad seleccionada
            var dificultadSeleccionada;
            var radioButtons = document.getElementsByName('dificultad');
            for (var i = 0; i < radioButtons.length; i++) {
                if (radioButtons[i].checked) {
                    dificultadSeleccionada = radioButtons[i].value;
                    break; // Salir del bucle una vez que se haya encontrado el radio button seleccionado
                }
            }

            var dificultad = dificultadSeleccionada;

            // Crear un formulario dinámico para enviar los datos al servidor
            var form = document.createElement('form');
            form.action = '/actualizarPregunta/{{id}}';  // Reemplaza con la URL correcta
            form.method = 'POST'
            // Crear campos de formulario y agregarlos al formulario
            var campos = {
                old_pregunta: old_pregunta.toString(),
                pregunta: pregunta.toString(),
                respuesta: respuesta.toString(),
                imagenPregunta: imagenPregunta,
                imagenRespuesta: imagenRespuesta,
                tema: tema.toString(),
                dificultad: dificultad,
            };

            for (var key in campos) {
                var input = document.createElement('input');
                input.type = 'hidden';
                input.name = key;
                input.value = campos[key];
                form.appendChild(input);
            }

            // Agregar el formulario al cuerpo del documento y enviarlo
            document.body.appendChild(form);
            form.submit();
        }
    </script>

</body>
{{/pregunta}}
</html>