/* Encabezados en modo lectura */
.markdown-preview-view h1 {
  font-size: 2.8rem;
}
.markdown-preview-view h2 {
  font-size: 2.4rem;
}
.markdown-preview-view h3 {
  font-size: 1.8rem;
}
.markdown-preview-view h4 {
  font-size: 1.5rem;
}
.markdown-preview-view h5 {
  font-size: 1.3rem;
}
.markdown-preview-view h6 {
  font-size: 1.1rem;
}

/* Encabezados en modo edición (Live Preview) */
.cm-s-obsidian .HyperMD-header-1 {
  font-size: 2.8rem;
}
.cm-s-obsidian .HyperMD-header-2 {
  font-size: 2.4rem;
}
.cm-s-obsidian .HyperMD-header-3 {
  font-size: 1.8rem;
}
.cm-s-obsidian .HyperMD-header-4 {
  font-size: 1.5rem;
}
.cm-s-obsidian .HyperMD-header-5 {
  font-size: 1.3rem;
}
.cm-s-obsidian .HyperMD-header-6 {
  font-size: 1.1rem;
}

