/* Estiliza los iframes con la clase 'custom-iframe' */
iframe.custom-iframe {
  width: 100%;
  height: 500px;
  overflow: auto;
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #000000 transparent; /* Thumb negro, track transparente */
}

/* Estiliza la scrollbar en navegadores WebKit (Chrome, Safari) */
iframe.custom-iframe::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

iframe.custom-iframe::-webkit-scrollbar-track {
  background: transparent;
}

iframe.custom-iframe::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}

iframe.custom-iframe::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}
