
.theme-dark .markdown-preview-view pre{
  background-color:#292D3E !important;
  color: #A6ACCD !important;
  font-family: 'Fira Code', Consolas, 'Courier New', monospace !important;
  font-size: 0.9em;
  line-height: 1.4;
  border-radius: 4px;
  padding: 0.5em;
  box-shadow: 14px 14px 20px 0 rgba(20, 20, 20, 0.3); !important;
  border: none !important;
}
